<section class="todoapp">
  <header class="header">
    <h1>Charts</h1>
    <button id="run" value="Run"></button>
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
      <div id="renderChart"></div>
      <div id="chartHorzList">
        <div id="charts-D1M1">
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
        </div>
        <div id="charts-D1Mn">
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
        </div>
        <div id="charts-DnM1">
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
        </div>
        <div id="charts-DnMn">
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
          <span class="chartitem"><img src="http://www.excel-easy.com/examples/images/line-chart/line-chart.png"></span>
        </div>
      </div>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
</section>
