<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<div class="form-group">
	<select id="selection-type" class="form-control" (change)="callSelection($event)">
	<option value="D1M1">One Dimension and One Measure</option>	
	<option value="D1Mn" selected>One Dimension and Multiple Measure</option>	
	<option value="DnM1">Multiple Dimension and One Measure</option>	
	<option value="DnMn">Multiple Dimension and Multiple Measure</option>	
	</select>
	<button type="button" id="selection-button" (click)="callApi($event)" class="btn btn-primary">Submit</button>
</div> 
<div><app-chart (myEvent)="chartComponent.getChartData()"  [selectedChartType] = "selectedChartType"></app-chart>
</div>
