<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<div class="form-group">
	<select id="selection-type" class="form-control">
	<option value="D1M1">One Dimension and One Measure</option>	
	<option value="D1Mn" selected>One Dimension and Multiple Measure</option>	
	<option value="DnM1">Multiple Dimension and One Measure</option>	
	<option value="DnMn">Multiple Dimension and Multiple Measure</option>	
	</select>
</div> 
<div><app-chart></app-chart></div>

